.shadowFilter {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(28, 28, 29, 0.671);
  top: 0;
  left: 0;
}

.backgroundImg {
  overflow: hidden;
  height: 100vh;
  width: 100vw;

  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

  filter: blur(5px);
  transform: scale(1.1);

  &Container {
    overflow: hidden;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 10; 
  }
}

.welcomeSection {
  background-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  font-weight: bold;
  color: white;
  position: relative;
  z-index: 100;

  &Container {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
  
    &-tablet{
      width: 75vmin;
    }
    &-mobile {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
  }

  &Txt {
    align-self: center;
    max-width: 512px; 
    &Appear {
      animation: appear 1.5s ease-out both;
      -webkit-animation: appear 1.5s ease-out both;
    
      @-webkit-keyframes appear {
        0% {
          opacity: 0;
        }
        100% {
          -webkit-opacity: 1;
          opacity: 1;
        }
      }
      
      @keyframes appear {
        0% {
          -webkit-opacity: 0;
          opacity: 0;
        }
        100% {
          -webkit-opacity: 1;
          opacity: 1;
        }
      }
    }

    &-tablet {
      width:100%;
      margin-top: 64px;
      align-self: center;
    }
    &-mobile {
      margin-top: 64px;
      align-self: center;
    }
  }

}

.animatedImg {
  pointer-events: none;
  width: 60vmin;
  max-height: 584px;
  &-tablet {
    width: 100%;
    max-height: 690px;
  }
  &-mobile {
    max-height: 320px;
  }

  &SlideRight {
    animation: slideRight 1s ease-out both;
    -webkit-animation: slideRight 1s ease-out both;
  
    @-webkit-keyframes slideRight {
      0% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
        -webkit-opacity: 0;
        opacity: 0;
      }
      100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-opacity: 1;
        opacity: 1;
      }
    }
    
    @keyframes slideRight {
      0% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
        -webkit-opacity: 0;
        opacity: 0;
      }
      100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-opacity: 1;
        opacity: 1;
      }
    }
  }
}

